<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="static/css/styles.css" />

    <title>{{ page.title }}</title>
  </head>
  <body id="top">
    {% include navbar.html %}

    <div class="container-fluid">{{ content }}</div>
    <a class="btn btn-outline-secondary" href="#top" title="Go to top">
      <i class="fas fa-arrow-up fa-2x"></i>
    </a>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="node_modules/plotly.js-dist/plotly.js"></script>
    {%- for script in page.scripts %}
    <script src="{{ script }}"></script>
    {%- endfor %}
  </body>
</html>
